@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400&family=Markazi+Text:wght@400;500;600;700&display=swap');

:root{
  --ll-green:#495e57;
  --ll-yellow: #f4ce14;
  --ll-peach: #ee9972;
  --ll-light-peach: #fbdabb;
  --ll-dark-grey: #333;
  --ll-light-grey: #edefee;
}

body {
  margin: 0;
}

h1,h2,h3,a, small{
  font-family: 'Markazi Text', serif;
}

p{
  font-family: 'Karla', serif;
  line-height: 150%;
}

a{
  text-decoration: none !important;
}

/* HomePage */

.hero-container{
  position: relative;
  background-color: var(--ll-green);
}

.hero-header{
  font-size: 64px;
  color:var(--ll-yellow);
  line-height:50px;
}

.ll-button{
  background-color: var(--ll-yellow) !important;
}

.hero-text small{
  font-size: 40px;
  color: var(--ll-light-grey) !important;
  line-height:100%;
}

header .nav-link{
  font-size: 20px;
}

.hero-container .img-container{
  height: 110%;
  background-image: url(./images/platter.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 20px;
  margin-top: 2rem;
  margin-left: auto;
}

.specials-section h2{
  font-size: 3rem;
}

.item-card{
  background-color: var(--ll-light-grey);
  min-width: 200px;
  max-width: 500px;
}

.item-price{
  color: var(--ll-peach);
}

.item-description{
  height: 175px;
}

/* Booking Page */

.reservations-section{
  background-color: var(--ll-green);
}

.reservations-header h2{
  font-size: 64px;
  color: var(--ll-yellow);
}

.reservations-inner-container{
  background-color: #fff;
}

.reservations-inner-container select,
.reservations-inner-container input{
background-color: var(--ll-light-grey);
color: var(--ll-green);
font-weight: 600;
text-align: center;
padding: 10px 0;
border-radius: 8px;
border: none;
}

.reservations-inner-container select option{
  border-top:1px solid var(--ll-dark-grey);
  border-bottom:1px solid var(--ll-dark-grey);
}
.reservations-inner-container select:not([data-selected='']),.reservations-inner-container input:not([data-selected='']){
  background-color: var(--ll-green);
  color: var(--ll-light-grey);
}

.reservations-inner-container input:not([data-selected=''])::placeholder{
  color: var(--ll-light-grey);
}

.form-header h2{
  font-size: 48px;
  
}

input:focus, select:focus {
  outline: 2px solid var(--ll-yellow);
  box-shadow: 1px 1px 8px 1px  var(--ll-yellow);
}

.disabled-message{
  bottom: 1rem;
  margin: auto;
  text-align: center;
  color: red;
  font-weight: 300;
  font-size: 18px;
  font-style: italic;
}


/* Responsiveness */

@media screen and (min-width:1200px) {
  .hero-text .hero-header{
    font-size:84px;
  }

  .hero-text small{
    font-size: 64px;
  }

  .hero-text p {
    font-size: 20px;
  }
}



